.footer {
    min-width: 400px;
    min-height: 73px;
    background-image: url('./src/assets/assets/graphics/graphics-footer.svg');
    display: flex;
    align-items: center;
    background-size: cover;
    background-color: #F3E4E1;
}